.pai{
    background-color: green;
    width: 420px;
    height: 420px;
    align-items: center;
    margin: 20px;
}

.f1{

    background-color: red;
    width: 120px;
    height: 120px;
    position: relative;
    /*4 Possibilidades
    direita
    esquerda
    cima
    baixo
    */

}

.f2{

    background-color: blue;
    width: 120px;
    height: 120px;
    position: relative;
    left: 200px;

}